<!-- base.html -->
<!DOCTYPE>
<html>
<head>
    {% include 'header.html' %}
    
    <title>
        {% block title %} {% endblock %}
    </title>
    {%load static%}
</head>
<body>
    
    <div class='container-fluid'>
        <div class="well">
            <img width="100" height="100" src="{% static 'img/logo.png' %}">
            
            <h1>文齋</h1>
        </div>
        <div class="row">
            {% include 'menu.html' %} 
            <div class="col-sm-8 col-md-8">       
                <div class='panel panel-default'>
                    <div class="panel-heading">
                        {% block headmessage %} {% endblock %}
                    </div>
                    <div class="panel-body">
                        
                        {% block content %} {% endblock %}
                    </div>
                    <div>
                    
                    </div>
                    <div class="panel-footer">
                        {% include 'footer.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
