<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>{{p.name}}</title>
    </head>
    <body>
        <h2>{{p.name}}</h2>
        <hr>
        <table width=400 border=1 bgcolor='#ccffcc'>
        {% for r in tags %}
            {% cycle '<tr>' '' '' '' %}
                <td>{{r.content}}</td>
            {% cycle '' '' '' '</tr>' %}
        {% endfor %}
        {{tags}}
        </table>
        <a href='/list'>回列表</a>
        <a href='{% url 'post-url' 2020 12 01 01 %}'>test</a><br>
    </body>
</html>
