<div class='panel panel-default'>
    <div class='panel-footer'>
        <p class='h2' id='time'>11:11</p>
        <p> Copyright©2020 http://127.0.0.0.1:8000. All rights reserved.</i></p>
    </div>
</div>