<!-- index.html -->
{% extends 'base.html' %}
{% block title %} 歡迎光臨我的部落格 {% endblock %}
{% block headmessage %} 
    <h3 style='font-family:標楷體;'>本站文章列表</a>
{% endblock %}
{% block content %} 
    {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class='post_title'>
                    <a href='/post/{{post.slug}}'>{{ post.title }}</a>
                </div>
            </div>
            <div class="panel-body">
                <div class ="post_body">
                    {{post.body | safe  }}
                </div>
            </div>
            <div class="panel-footer">
                <div class="post_date">
                    發佈時間 : {{post.pub_date | date:"Y M d, h:m:s"}}
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}
