{% extends "base_video.html" %}
{% load static %}
{% block menu %}
    <input id='current_no' value={{ course_no }} hidden>
    <nav class='navbar navbar-default'>
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">現在播放: {{course.name}}</a>
                <ul class='nav navbar-nav'>
                    <li><img src="{% static 'img/logo.png' %}" width="60"></li>
                    <li><a href="/">Home</a></li>
                    <!--<li id="li-0"><a href="{% url 'course-url' 0 %}">{{course_list.0.name}}</a></li>
                    <li id="li-1"><a href="{% url 'course-url' 1 %}">{{course_list.1.name}}</a></li>
                    <li id="li-2"><a href="{% url 'course-url' 2 %}">{{course_list.2.name}}</a></li>
                    <li id="li-3"><a href="{% url 'course-url' 3 %}">{{course_list.3.name}}</a></li>
                    <li id="li-4"><a href="{% url 'course-url' 4 %}">{{course_list.4.name}}</a></li>
                    <li id="li-5"><a href="{% url 'course-url' 5 %}">{{course_list.5.name}}</a></li>-->
                    {% for i in course_list %}
                        <li id="li-{{forloop.counter0}}"><a href="{% url 'course-url' forloop.counter0 %}">{{i.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
{% if hour > 18 %}
    <h2> 晚安 </h2>
{% elif hour < 10 %}
    <h2> 早安 </h2>
{% else %}
    <h2> 早安 </h2>
{% endif %}

{% for p in course_list %}
    <h1>#{{forloop.counter0}},{{p.name}} , {{p.tvcode}} <br>
{% endfor %}
{% endblock %}
{% block content %}
<<div class='conatiner'>
    <div id='tvcode' align='center'>
        <iframe width="720" height="480" src="https://www.youtube.com/embed/{{course.tvcode}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>      
 {% endblock %}
 {% block script %}
 <script>
     var current = $('#current_no').val();
     console.log(current);
     target = `#li-${current}`;
     dom = $(target)
     dom.addClass('active');
     setInterval(function(){
         console.log(moment().format('YYYY-MM-DD HH:mm:ss'))
         $('#time').text(moment().format('YYYY-MM-DD HH:mm:ss'))
     },1000);
 </script>
 {% endblock %}
