    <div class='col-sm-4 col-md-4'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h3>	
                    MENU
                </h3>
            </div>
            <div class='panel-body'>
              <div class='list-group'>
                    <a href='/' class='list-group-item'>HOME</a>
                    <a href='/admin' class='list-group-item'>管理頁面</a>
                    <a href='#' class='list-group-item'>預備連結</a>
                </div> 
                <script id="_waurg4">var _wau = _wau || []; _wau.push(["map", "3mg7nl9zh5", "rg4", "250", "125", "night", "cross-pink"]);</script><script async src="//waust.at/m.js"></script>               
                <script id="_waufwe">var _wau = _wau || []; _wau.push(["classic", "468y1ph1wd", "fwe"]);</script><script async src="//waust.at/c.js"></script>
                <script>
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                  
                    ga('create', 'UA-1643139-1', 'slime.com.tw');
                    ga('send', 'pageview');
                  </script>
            </div>
        </div>
    </div>
