<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>
        歡迎光臨我的部落格
    </title>
    <style>
        .post_title {
            font-family: 微軟正黑體;
            font-size: 16pt;
            font-weight: bold;
        }
        
        .post_body {
            font-family: 微軟正黑體;
            font-size: 10pt;
            letter-spacing: 1pt;
        }
    </style>
</head>
<body>
    <h1>{{post.title}}</h1>
    <hr> 
    <div class="post_body">
        {{post.body}}
    </div>
    <h3><a href="/">回首頁</a></h3>
</body>

</html>
